HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
pom.xml
src/main/resources/templates/profileInfoFilling.html
uploads/Billy_cropped_image.jpg
uploads/fffe208f-e08b-938e-4eda-72717a99111d_n1ci0trfgrey.jpg
uploads/qweqwe_cropped_image.jpg
uploads/qweqwe_cropped_image.jpg
uploads/qweqwe_n1ci0trfgrey.jpg
uploads/qweqwe_cropped_image.jpg
uploads/qweqwe_cropped_image.jpg
uploads/fffe208f-e08b-938e-4eda-72717a99111d_studio-ghibli-forest-3840x2160-v0-pIGVZ175uTN7KumtZvhMnxiY4QQXvWYgTsQRY-Nrw1Q.png
uploads/qweqwe_cropped_image.jpg
uploads/Billy_cropped_image.jpg
src/main/resources/templates/profileInfoFilling.html
src/main/java/newproject/newproject/securityConfig/SecurityConfiguration.java
src/main/java/newproject/newproject/securityConfig/SecurityConfiguration.java
src/main/java/newproject/newproject/securityConfig/SecurityConfiguration.java
src/main/java/newproject/newproject/securityConfig/SecurityConfiguration.java
