header {
    height: 70px;
}


/* Header */
.header-wrapper {
    display: flex;
    position: relative;
    height: 100%;
    background-color: #002f34;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;

}

.logo a {
    height: 70%;
    margin-left: 50px;
}

.logo a img{
    height: 100%;
}

.search-wrapper{
    display: flex;
    position: absolute;
    width: 45%;
    height: 100%;
    left: 45%;
    transform: translateX(-50%); /* Розташовує по центру */
    align-items: center;

}

#search-bar{
    position: absolute;
    /* padding-left: 20px; */
    font-size: 16px;
    border-radius: 8px;
    width: 100%;
    height: 40px;
    padding-left: 40px;
    border: none;
}

#search-icon {
    position: absolute;
    opacity: 0.7;
    left: 10px;
    height: 25%;
    transform: translateY(-10%);
}

#search-button {
    position: absolute;
    color: white;
    background-color: #00a046;
    right: 0;
    border-radius: 8px;
    width: 83px;
    font-size: 16px;
    height: 40px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}

#search-button:hover {
    background-color: green;

}

.cart-container {
    position: absolute;
    right: 0;
    margin-right: 30px;
}

.cart-icon {
    width: 30px; 
    height: 30px;
}

.cart-badge {
    position: absolute;
    top: 0;
    right: -10px; 
    background-color: #00a046; 
    color: white; 
    border-radius: 50%; 
    width: 20px; 
    height: 20px;
    text-align: center; 
    font-size: 12px; 
    line-height: 20px; 
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
}
/* Header end */

.cart-modal {
    display: none; /* Початково приховане */
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.cart-modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    width: 80%;
    max-width: 540px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 25px;
    font-family: sans-serif;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Стилі для кошика */
.cart-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

#cart-items li{
    list-style: none;
}

.item-container {
    display: flex;
}

.item-in-cart-wrapper {
    padding: 10px;
    border: 1px solid #e8e8e8;
    border-radius: 20px;
    margin-bottom: 10px;
}

/* Стиль для зображення товару */
.cart-item-image {
    width: 80px; /* Ширина зображення */
    height: 80px; /* Висота зображення */
    object-fit: contain; /* Зберігає пропорції зображення */
    margin-right: 15px; /* Відступ праворуч від зображення */
    border-radius: 5px; /* Округлені кути */
}

.buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 30px;
}

.delete-btn-wrapper{
    margin-left: auto;
    padding: 20px 0px;
    width: 40px;
    height: 40px;
}

.delete-btn {
    width: 40px;
    height: 40px;
    border: none;
    text-align: center;
    line-height: 0px;
    border-radius: 6px;
    background-color: red;
    background-image: url('./img/deleteIcon.png');
    background-repeat: no-repeat;
}

#checkout-button,
#clear-cart-btn {
    background-color: #00a046;
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    height: 40px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}

#clear-cart-btn:hover {
    background-color: rgb(174, 0, 0);
}

#clear-cart-btn {
    background-color: red;
}

#checkout-button:hover {
    background-color: #007432;
}

.item-footer-container {
    display: flex;
    position: relative;
    justify-content: right;
}

.quantity-btn {
    font-size: 30px;
    padding: 8px;
    border: none;
    cursor: pointer;
    color: blue;
    background-color: white;
}

.quantity-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
    
}

.item-quantity {
    padding: 5px 20px;
    border: #002f34 1px solid;
    border-radius: 5px;
    cursor: default;
    width: 50px;
}

.price-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80px;

}

.price-container {
    font-size: 14px;
    text-align: right;
}

.discount-price-container {
    font-size: 20px;
    color: red;
    text-align: right;
}

.signup-badge {
    position: absolute;
    display: flex;
    justify-content: center;
    align-self: center;
    right: 10vw;
    color: white;
    cursor: pointer;
}

.signup-badge-href {
    display: flex;
    color: white

}

#default-user-icon {
    width: 50px;
    border-radius: 100px;
    margin-right: 10px;

}

.signup-badge p {
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 18px;
}

@media (max-width: 930px) {
    #user-name-header {
        display: none; /* Приховати елемент */
    }

    #logo-desktop {
        display: none;
    }

    .search-wrapper {
        width: 55%;
        left: 50%;
    }

}

@media (min-width: 931px) {
    #logo-mobile {
        display: none;
    }
}