@font-face {
    font-family: 'Geomanist';
    src: url('fonts/Geomanist-Regular.woff') format('woff2'),
}

* {
    font-family: 'Geomanist';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.product-wrapper {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-container {
    display: flex;
    width: 90%;
}

/* Блок з фото */
.product-image {
    flex: 1;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* Блок з деталями */
.product-details {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

strong {
    font-weight: normal;
    /* Забираємо жирний стиль */
    font-family: 'Geomanist', sans-serif;
    /* Явно задаємо шрифт */
}

.product-details h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
}

.product-details p {
    margin: 10px 0;
    font-size: 18px;
    color: #555;
}

.discounted-price {
    color: red !important;
    font-size: 22px !important;
}

.product-details strong {
    font-weight: bold;
    color: #1a73e8;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #555;
}

.price del {
    color: #888;
    /* Сірий для закресленої ціни */
}

#add-to-cart-btn {
    padding: 12px 24px;
    background-color: #00a046;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#add-to-cart-btn:hover {
    background-color: green;
}

#add-to-cart-btn:disabled {
    background-color: grey;
    cursor: default;
}

.not-available-image {
    filter: grayscale(30%);
}


button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    font-size: 12px;
}

/* button:hover {
    background-color: #135aba;
}

button:active {
    background-color: #0d3e84;
} */

.product-description {
    margin: 10px 30px;
    font-size: 18px;
}

.slider-container {
    flex: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.swiper-container {
    width: 100%;
}

.main-slider {
    width: 100%;
    /* height: 100%;  */
    margin-bottom: 10px;
    position: relative;
}

.thumbs-slider {
    height: 8vw;
    /* Зменшено висоту мініатюр */
}

.thumbs-slider .swiper-slide {
    height: 100%;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.thumbs-slider .swiper-slide-thumb-active {
    opacity: 1;
    border: 2px solid #007aff;
}

.main-slider .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;

}

.main-slider .swiper-slide-prev {
    opacity: 0;
}




/* Стилі для Swiper слайдера */
.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* Зберігаємо пропорції зображень */
}

.swiper-button-prev,
.swiper-button-next {
    background-color: #F5F5F5;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

.swiper-button-prev {
    background-image: url("img/back.svg");
}

.swiper-button-next {
    background-image: url("img/right.svg");
}

.slider-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.slider-buttons {
    display: flex;
    align-items: center;
}

#main-slider-wrapper {
    height: 32vw;
}

.same-seller-items-wrapper,
.recommended-items-wrapper {
    margin: 10px 30px;
}

/* Заголовок товару (назва), тепер із посиланням */
.item-title a {
    color: inherit; /* Спадковий колір (залежить від батьківського елемента) */
    text-decoration: none; /* Вимикаємо підкреслення */
    font-weight: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    padding: 0 10px;
    font-size: 14px;
}

.item-title a:hover {
    color: #007bff; /* Синій колір при наведенні */
    text-decoration: underline; /* Додаємо підкреслення */
}

/* Ціна товару */
.item-price {
    font-weight: normal;
    font-size: 12px;
    padding-left: 10px;
}

.item-price del {
    font-weight: normal;
}

/* Бренд товару */
.item-brand {
    font-weight: normal;
    padding-left: 10px;
}

/* Знижена ціна */
.item-discounted-price {
    padding-left: 10px;
    font-weight: normal;
    font-size: 14px;
    color: red;
    padding-bottom: 5px;
}

/* Заголовок блоку "Товари того ж бренду" */
.same-brand-items-title,
.recommended-items-title {
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 20px;
}

.same-brand-items-slider-container,
.recommended-items-slider-container {
    margin-bottom: 30px;
}

#same-brand-items-slider-wrapper .swiper-slide,
#recommended-items-slider-wrapper .swiper-slide {
    border-left: 1px #bbbbbb solid;
    border-bottom: 1px #bbbbbb solid;
}

/* Контейнер для зображення */
.item-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13vw;
}

#same-brand-items-slider-wrapper .swiper-slide img,
#recommended-items-slider-wrapper .swiper-slide img {
    width: 90%;
    object-fit: contain;
}

/* Ціна без знижки */
.item-price-no-discount {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 14px;
}

/* Контейнер для заголовку */
.item-title-wrapper {
    height: 40px;
}

/* Посилання на зображення товару */
.item-image-wrapper a {
    display: block; /* Робимо контейнер блоковим, щоб займати весь простір */
    height: 100%;
    width: 100%;
    text-align: center; /* Вирівнювання по центру */
}

/* Відображення зображень у посиланнях */
.item-image-wrapper a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (max-width: 768px) {
    /* Стиль для планшетів */
    .product-container {
        flex-direction: column;
    }
    #main-slider-wrapper {
        height: 50vh;
    }

    .slider-container {
        width: 100%;
    }
}