* {
    margin: 0;
    padding: 0;

}

header {
    height: 100px;
}

.header-wrapper {
    height: 100%;
    background-color: #002f34;

}

.logo {
    height: 100%;
    display: flex;
    align-items: center;

}

.logo img {
    height: 70%;
    margin-left: 20px;

}




p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;

}

.item-catalog {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
}

li {
    flex: 3;
    list-style: none;
    text-align: center;
    border: solid, 2px, #000;
    justify-content: space-between;
    align-items: center;
    margin: 0px, 20px;

}

.item-title {}

.item-price {}

.item-image {
    height: 30vw;
    width: auto;
    justify-content: center;

}