<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YEP! Store</title>

    <!-- Для роботи з динамічним css -->
    <!-- <link rel="stylesheet" href="../static/css/mainGallery.css">
    <link rel="stylesheet" href="../static/css/header.css"> -->

    <!-- Для роботи сервера -->
    <link rel="stylesheet" href="/css/mainGallery.css">
    <link rel="stylesheet" href="/css/header.css">
</head>

<body>
    <header>
        <div class="header-wrapper">
            <div class="logo">
                <a href="/mainpage">
                    <!-- <img src="../static/css/img/logo.png" id="logo-desktop" alt="logo">
                    <img src="../static/css/img/logo-mobile.png" id="logo-mobile" alt=""> -->
                    <img src="/css/img/logo.png" id="logo-desktop" alt="logo">
                    <img src="/css/img/logo-mobile.png" id="logo-mobile" alt="">
                </a>

            </div>
            <div class="search-wrapper">

                <input type="text" id="search-bar" placeholder="Search...">
                <img src="/css/img/search-icon.png" alt="" id="search-icon">
                <!-- <img src="../static/css/img/search-icon.png" alt="" id="search-icon"> -->
                <button id="search-button">Search</button>

            </div>

            <div class="signup-badge">
                <img src="/css/img/default-user.png" id="default-user-icon" alt="">
                <!-- <img src="../static/css/img/default-user.png" id="default-user-icon" alt=""> -->
                <p id="user-name-header"><u> Login/Sign Up</u></p>
            </div>

            <div class="cart-container">
                <img src="/css/img/cart-icon.png" alt="Cart" class="cart-icon" id="cart-icon">
                <!-- <img src="../static/css/img/cart-icon.png" alt="Cart" class="cart-icon" id="cart-icon"> -->
                <span class="cart-badge">0</span>
            </div>
        </div>
    </header>

    <div id="cart-modal" class="cart-modal">
        <div class="cart-modal-content">
            <span id="close-cart" class="close">&times;</span>
            <h2>Your Cart</h2>
            <ul id="cart-items"></ul>
            <p id="cart-total">Total Price: 0$</p>
            <div class="buttons">
                <button id="checkout-button">Make an order</button>
                <button id="clear-cart-btn">Clear your Cart</button>
            </div>

        </div>
    </div>


    <h1>List of Items</h1>

    <ul class="item-catalog"></ul>



    <!-- Для роботи з динамічним js -->
    <!-- <script src="../static/js/galleryPage.js"></script>
    <script src="../static/js/shoppingCart.js"></script> -->

    <script src="/js/galleryPage.js"></script>
    <script src="/js/isUserAuthenticated.js"></script>
    <script src="/js/shoppingCart.js"></script>
    



    <!-- Для роботи сервера -->
    <!-- <script src="/js/script.js"></script> -->

</body>

</html>