<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Для роботи з динамічним css -->
    <link rel="stylesheet" href="../static/css/style.css">

    <!-- Для роботи сервера -->
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
</head>

<body>
    <h1>List of Items</h1>
    <ul class="item-catalog">

    </ul>

    

    <!-- Для роботи з динамічним js -->
    <script src="../static/js/script.js"></script>

    <!-- Для роботи сервера -->
    <!-- <script src="/js/script.js"></script> -->
</body>

</html>